%h3.mt-1 Instancje
= form_tag nil, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :filter, params[:filter], placeholder: 'Nazwa...', class: 'form-control mr-2 mb-2'
  .form-group
    = submit_tag 'Filtruj', class: 'btn btn-primary mb-2'
%table.table.table-responsive.table-striped
  %thead.thead-dark
    %tr
      %th{scope: :col} Klucz identyfikacyjny
      %th{scope: :col} Nazwa
      %th{scope: :col} Opis
      %th{scope: :col} Liczba QSO wymaganych do ważności aktywacji
      %th{scope: :col} Wymagaj potwierdzonych QSO do aktywacji
      %th{scope: :col}
      %th{scope: :col}
  %tbody
    %tr.table-success
      = form_for @new_instance do |f|
        %td
          %span.form-text.text-muted (generowany automatycznie)
        %td= f.text_field :name, class: 'form-control'
        %td= f.text_area :description, rows: 5, class: 'form-control'
        %td= f.number_field :activation_needed_qsos, min: 1, step: 1, class: 'form-control'
        %td
          .form-check
            = f.check_box :activation_require_confirmation
        %td= f.submit 'Dodaj instancję', class: 'btn btn-success'
        %td
    - @instances.each do |instance|
      %tr
        = form_for instance do |f|
          %td
            %span.form-text= instance.ident_str
          %td= f.text_field :name, class: 'form-control'
          %td= f.text_area :description, rows: 5, class: 'form-control'
          %td= f.number_field :activation_needed_qsos, min: 1, step: 1, class: 'form-control'
          %td
            .form-check
              = f.check_box :activation_require_confirmation
          %td= f.submit 'Zapisz zmiany', class: 'btn btn-warning'
          %td= link_to 'Usuń', instance_path(instance), method: :delete, class: 'btn btn-danger', data: { confirm: 'Na pewno?' }