%h2= t('.title', resource: 'użytkownika')
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :login
    %br/
    = f.text_field :login, autofocus: true, autocomplete: "login"
  %br/
  .field
    = f.label :password
    %i
      (#{t('.leave_blank_if_you_don_t_want_to_change_it')})
    %br/
    = f.password_field :password, autocomplete: "off"
    - if @minimum_password_length
      %br/
      %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
  %br/
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %br/
  .field
    = f.label :current_password
    %i
      (#{t('.we_need_your_current_password_to_confirm_your_changes')})
    %br/
    = f.password_field :current_password, autocomplete: "off"
  %br/
  .actions
    = f.submit t('.update')
%br/
= link_to t('devise.shared.links.back'), :back
