%h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :login
    %br/
    = f.text_field :login, autofocus: true, autocomplete: "login"
  %br/
  .field
    = f.label :callsign, "Znak wywoławczy"
    %br/
    = f.text_field :callsign, autocomplete: "callsign"
  %br/
  .field
    = f.label :password
    - if @minimum_password_length
      %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
    %br/
    = f.password_field :password, autocomplete: "off"
  %br/
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %br/
  .actions
    = f.submit t('.sign_up')
%br/
= render "devise/shared/links"
