%h3.mt-1 Użytkownicy
= form_tag nil, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :filter, params[:filter], placeholder: 'Login/znak...', class: 'form-control mr-2 mb-2'
  .form-group
    = submit_tag 'Filtruj', class: 'btn btn-primary mb-2'
%table.table.table-responsive.table-striped
  %thead.thead-dark
    %tr
      %th{scope: :col} Login
      %th{scope: :col} Znak wywoławczy
      %th{scope: :col} Administrator?
      %th{scope: :col} Nowe hasło (zostaw puste aby nie zmieniać)
      %th{scope: :col} Potwierdź hasło
      %th{scope: :col}
      %th{scope: :col}
  %tbody
    %tr.table-success
      = form_for @new_user do |f|
        %td= f.text_field :login, class: 'form-control'
        %td= f.text_field :callsign, class: 'form-control'
        %td
          .form-check
            = f.check_box :admin
        %td= f.password_field :password, class: 'form-control'
        %td= f.password_field :password_confirmation, class: 'form-control'
        %td= f.submit 'Stwórz użytkownika', class: 'btn btn-success'
        %td
    - @users.each do |user|
      %tr
        = form_for user do |f|
          %td= f.text_field :login, class: 'form-control'
          %td= f.text_field :callsign, class: 'form-control'
          %td
            .form-check
              = f.check_box :admin
          %td= f.password_field :password, class: 'form-control'
          %td= f.password_field :password_confirmation, class: 'form-control'
          %td= f.submit 'Zapisz zmiany', class: 'btn btn-warning'
          %td= link_to 'Usuń', user_path(user), method: :delete, class: 'btn btn-danger', data: { confirm: 'Na pewno?' }