%h2= t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :login
    %br/
    = f.text_field :login, autofocus: true, autocomplete: "login"
  %br/
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  %br/
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit t('.sign_in')
%br/
= render "devise/shared/links"
