%h3.mt-1 Zalogowane QSO
= form_tag nil, method: :get, class: 'form-inline' do
  .form-group
    = select_tag :instance_id, options_from_collection_for_select(@instances, :id, :name, params[:instance_id]), include_blank: 'Wybierz instancję...', class: 'custom-select mr-2 mb-2'
  .form-group
    = select_tag :user_id, options_from_collection_for_select(@users, :id, :login, params[:user_id]), include_blank: 'Wybierz użytkownika...', class: 'custom-select mr-2 mb-2'
  .form-group
    = submit_tag 'Filtruj', class: 'btn btn-primary mb-2'
%table.table.table-responsive.table-striped
  %thead.thead-dark
    %tr
      %th{scope: :col} Instancja
      %th{scope: :col} Użytkownik
      %th{scope: :col} Znak wywoławczy nadawcy
      %th{scope: :col} Toaleta nadawcy
      %th{scope: :col} Znak wywoławczy odbiorcy
      %th{scope: :col} Toaleta odbiorcy
      %th{scope: :col} Pasmo
      %th{scope: :col} Emisja
      %th{scope: :col} Data i godzina (UTC)
      %th{scope: :col}
      %th{scope: :col}
  %tbody
    - @log_entries.each do |log_entry|
      %tr{class: log_entry.confirmed? ? 'table-success' : ''}
        = form_for log_entry do |f|
          %td
            %span.form-text= log_entry.instance.name
          %td
            %span.form-text= log_entry.user.login
          %td= f.text_field :callsign_to, class: 'form-control'
          %td= f.text_field :toilet_id_to, class: 'form-control'
          %td= f.text_field :callsign_from, class: 'form-control'
          %td= f.text_field :toilet_id_from, class: 'form-control'
          %td= f.select :band, options_for_select((%w(160m 80m 60m 40m 30m 20m 17m 15m 12m 10m 6m 2m 70cm 23cm).map { |b| [b,b] }), log_entry.band), {}, class: 'custom-select'
          %td= f.select :mode, options_for_select((['CW', 'SSB', 'FM', 'Dane', 'AM', 'Inna emisja'].map { |m| [m,m] }), log_entry.mode), {}, class: 'custom-select'
          %td= f.text_field :qso_at, value: log_entry.qso_at.utc.strftime('%d-%m-%Y %H:%M'), class: 'form-control'
          %td= f.submit 'Zapisz zmiany', class: 'btn btn-warning'
          %td= link_to 'Usuń',log_entry_path(log_entry) , method: :delete, class: 'btn btn-danger', data: { confirm: 'Na pewno?' }