%h3.mt-1 Tokeny autoryzacji
= form_tag nil, method: :get, class: 'form-inline' do
  .form-group
    = select_tag :instance_id, options_from_collection_for_select(@instances, :id, :name, params[:instance_id]), include_blank: 'Wybierz instancję...', class: 'custom-select mr-2 mb-2'
  .form-group
    = select_tag :user_id, options_from_collection_for_select(@users, :id, :login, params[:user_id]), include_blank: 'Wybierz użytkownika...', class: 'custom-select mr-2 mb-2'
  .form-group
    = submit_tag 'Filtruj', class: 'btn btn-primary mb-2'
%table.table.table-responsive.table-striped
  %thead.thead-dark
    %tr
      %th{scope: :col} Instancja
      %th{scope: :col} Użytkownik
      %th{scope: :col} Utworzony
      %th{scope: :col} Zaktualizowany
      %th{scope: :col}
  %tbody
    - @authentication_tokens.each do |authentication_token|
      %tr
        %td= authentication_token.instance.name
        %td= authentication_token.user.login
        %td= authentication_token.created_at.strftime('%d-%m-%Y %H:%M:%S')
        %td= authentication_token.updated_at.strftime('%d-%m-%Y %H:%M:%S')
        %td= link_to 'Usuń', authentication_token_path(authentication_token), method: :delete, class: 'btn btn-danger', data: { confirm: 'Na pewno?' }