- if flash[:notice]
  .alert.alert-info.alert-dismissible.fade.show{role: 'alert'}
    = flash[:notice]
    %button.close{type: :button, data: {dismiss: :alert}, 'aria-label': :Close}
      %span{'aria-hidden': :true}= '&times;'.html_safe
- if flash[:success]
  .alert.alert-success.alert-dismissible.fade.show{role: 'alert'}
    = flash[:success]
    %button.close{type: :button, data: {dismiss: :alert}, 'aria-label': :Close}
      %span{'aria-hidden': :true}= '&times;'.html_safe
- if flash[:error]
  .alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
    = flash[:error]
    %button.close{type: :button, data: {dismiss: :alert}, 'aria-label': :Close}
      %span{'aria-hidden': :true}= '&times;'.html_safe
- if flash[:alert]
  .alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
    = flash[:alert]
    %button.close{type: :button, data: {dismiss: :alert}, 'aria-label': :Close}
      %span{'aria-hidden': :true}= '&times;'.html_safe
