%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to "TOTA Admin", root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: :button, data: {toggle: :collapse, target: '#mainNavbarContent'}, 'aria-controls': 'mainNavbarContent', 'aria-expanded': :false, 'aria-label': 'Przełącz nawigację'}
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#mainNavbarContent
    %ul.navbar-nav.mr-auto
      - if current_user
        %li.nav-iem
          = link_to 'Użytkownicy', users_path, class: "nav-link #{controller_name == 'users' ? 'active' : ''}", data: { turbolinks: false }
        %li.nav-item
          = link_to 'Instancje', instances_path, class: "nav-link #{controller_name == 'instances' ? 'active' : ''}", data: { turbolinks: false }
        %li.nav-item
          = link_to 'Definicje toalet', toilet_definitions_path, class: "nav-link #{controller_name == 'toilet_definitions' ? 'active' : ''}", data: { turbolinks: false }
        %li.nav-item
          = link_to 'Tokeny autoryzacji', authentication_tokens_path, class: "nav-link #{controller_name == 'authentication_tokens' ? 'active' : ''}", data: { turbolinks: false }
        %li.nav-item
          = link_to 'Zalogowane QSO', log_entries_path, class: "nav-link #{controller_name == 'log_entries' ? 'active' : ''}", data: { turbolinks: false }
    - if current_user
      %ul.navbar-nav
        %li.nav-item
          %span.navbar-text Zalogowano jako #{current_user.callsign}
        %li.nav-item
          = link_to "Wyloguj", destroy_user_session_path, class: 'nav-link', method: :delete, data: { turbolinks: false }
    - else
      %ul.navbar-nav
        %li.nav-item
          %span.navbar-text Nie zalogowano
        %li.nav-item
          = link_to "Logowanie", new_user_session_path, class: 'nav-link', data: { turbolinks: false }
