%h3.mt-1 Definicje toalet
= form_tag nil, method: :get, class: 'form-inline' do
  .form-group
    = select_tag :instance_id, options_from_collection_for_select(@instances, :id, :name, params[:instance_id]), include_blank: 'Wybierz instancję...', class: 'custom-select mr-2 mb-2'
  .form-group
    = submit_tag 'Filtruj', class: 'btn btn-primary mb-2'
%table.table.table-responsive.table-striped
  %thead.thead-dark
    %tr
      %th{scope: :col} Instancja
      %th{scope: :col} Identyfikator
      %th{scope: :col} Liczba punktów
      %th{scope: :col}
      %th{scope: :col}
  %tbody
    %tr.table-success
      = form_for @new_toilet_definition do |f|
        %td= f.collection_select :instance_id, @instances, :id, :name, {selected: params[:instance_id], include_blank: 'Wybierz instancję...'}, {class: 'custom-select'}
        %td= f.text_field :identifier, class: 'form-control'
        %td= f.number_field :points, min: 1, step: 1, class: 'form-control'
        %td= f.submit 'Dodaj definicję toalety', class: 'btn btn-success'
        %td
    - @toilet_definitions.each do |toilet_definition|
      %tr
        = form_for toilet_definition do |f|
          %td
            %span.form-text= toilet_definition.instance.name
          %td= f.text_field :identifier, class: 'form-control'
          %td= f.number_field :points, min: 1, step: 1, class: 'form-control'
          %td= f.submit 'Zapisz zmiany', class: 'btn btn-warning'
          %td= link_to 'Usuń', toilet_definition_path(toilet_definition), method: :delete, class: 'btn btn-danger', data: { confirm: 'Na pewno?' }